@font-face {
    font-family: DancingScript;
    src: url('/gui/font/DancingScript-VariableFont_wght.ttf');
}

.root {
    -fx-font-size: 20px;
    -fx-font-family: 'Dancing Script Regular';
}

.button {
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #a77700 0%, #cda005 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 200px;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #eca400 0%, #f1c012 50%);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #785702 0%, #977604 50%);
}

#confirm-button {

}

#undo-button {

}

#choice-button {
}

#text-field {
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 2, 2);
    -fx-text-alignment: center;
}

#title {
    -fx-font-size: 42px;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;
}

#error {
    -fx-fill: #efa405;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;

}

#label {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;
}

HBox, VBox {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;
}


/*.scroll-bar {*/
/*    -fx-background-color: transparent;*/
/*    -fx-background-radius: 2em;*/
/*    -fx-focus-color: transparent;*/
/*    -fx-faint-focus-color: transparent;*/
/*    -fx-padding: 2px !important;*/
/*    -fx-start-margin: 3px !important;*/
/*    -fx-end-margin: 3px !important;*/
/*}*/

/*.scroll-bar:vertical:focused {*/
/*    -fx-background-color: transparent;*/
/*}*/

/*.scroll-bar:vertical .track {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-background-radius: 2.0em;*/
/*}*/

/*.scroll-bar:vertical .track-background {*/
/*    -fx-background-color: transparent;*/
/*    -fx-background-insets: 0;*/
/*    -fx-background-radius: 2em;*/
/*}*/

/*.scroll-bar:vertical .increment-button,*/
/*.scroll-bar:vertical .decrement-button {*/
/*    -fx-background-color: transparent;*/
/*    -fx-background-radius: 0.0em;*/
/*    -fx-padding: 0.0 10.0 0.0 0.0;*/
/*}*/

/*.scroll-bar .increment-arrow,*/
/*.scroll-bar .decrement-arrow {*/
/*    -fx-shape: " ";*/
/*    -fx-padding: 0.15em 0.0;*/
/*}*/

/*.scroll-bar:vertical .increment-arrow,*/
/*.scroll-bar:vertical .decrement-arrow {*/
/*    -fx-shape: " ";*/
/*    -fx-padding: 0.0 0.15em;*/
/*}*/

/*.scroll-bar:vertical .thumb {*/
/*    -fx-background-color: #ff9d69;*/
/*    -fx-background-insets: 2.0, 0.0, 0.0;*/
/*    -fx-background-radius: 2.0em;*/
/*}*/

/*.scroll-bar:vertical .thumb:pressed {*/
/*    -fx-background-color: #c16618;*/
/*    -fx-background-insets: 2.0, 0.0, 0.0;*/
/*    -fx-background-radius: 2.0em;*/
/*}*/

/*.scroll-bar:vertical .thumb:hover {*/
/*    -fx-background-color: #c16618;*/
/*    -fx-background-insets: 2.0, 0.0, 0.0;*/
/*    -fx-background-radius: 2.0em;*/
/*}*/


.scroll-pane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

/* Removes the rectangle around the ScrollPane */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#notification-text {
    -fx-fill: white;
    -fx-font-size: 25px;
}