@font-face {
    font-family: DancingScript;
    src: url('/gui/font/DancingScript-VariableFont_wght.ttf');
}

.root {
    -fx-font-size: 20px;
    -fx-font-family: 'Dancing Script Regular';
}

.button {
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #a77700 0%, #cda005 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 200px;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #eca400 0%, #f1c012 50%);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #785702 0%, #977604 50%);
}

#confirm-button {

}

#undo-button {

}

#choice-button {
}

#text-field {
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 2, 2);
    -fx-text-alignment: center;
}

#title {
    -fx-font-size: 42px;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;
}

#error {
    -fx-fill: #efa405;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;

}

#label {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-text-alignment: center;
}

HBox, VBox {
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;
}


.scroll-pane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 5, 5);
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

/* Removes the rectangle around the ScrollPane */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#notification-text {
    -fx-fill: white;
    -fx-font-size: 25px;
}